<h1> Lista de Productos </h1>

<div class="contenedorCards">
    {{#each productos}}
        <div class="card">
            <p><strong>Título:</strong> {{this.title}}</p>
            <p><strong>Descripción:</strong> {{this.description}}</p>
            <p><strong>Precio:</strong> ${{this.price}}</p>  
        </div>
    {{/each}}
</div>