/* Estilos generales */
body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Cabecera */
h1 {
    text-align: center;
    font-size: 3rem;
    color: #007bff;  
    margin-top: 20px;
}

/* Contenedor de productos */
.products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    gap: 20px; 
    margin-top: 20px;
    padding: 0 15px;
}

/* Estilos de los productos */
div.product {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    max-width: 300px; 
    flex: 1 1 300px; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

div.product:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

/* Títulos de productos */
h2 {
    color: #3f00d3;  
    font-size: 1.8rem;
    margin-bottom: 10px;
}

/* Descripción y precio */
p {
    font-size: 1rem;
    margin: 10px 0;
}

/* Botón de agregar al carrito */
button {
    background-color: #3000f1; 
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #00a6d9; 
}

/* Paginación */
a {
    color: #d30000;  
    text-decoration: none;
    font-size: 1.2rem;
    margin: 10px;
}

a:hover {
    text-decoration: underline;
}

/* Estilos de paginación */
p {
    text-align: center;
    font-size: 1.1rem;
    color: #333;
}

/* Estilos de la paginación al pie de la página */
.pagination {
    text-align: center;
    margin-top: 20px;
}

/* Tabla carrito */

  .titulo-carrito {
    text-align: center;
    margin-top: 20px;
  }
  
  .carrito-table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
  }
  
  .carrito-table th, .carrito-table td {
    padding: 15px;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  .carrito-table th {
    background-color: #f2f2f2;
  }
  
  .carrito-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  

